# Nuxt
.nuxt
.output
.nitro
.cache
dist

# Node
node_modules
npm-debug.log*

# Env
.env
.env.*
!.env.example

# Editor
.vscode
.idea
.DS_Store

/generated/prisma

.vercel

# Uploads
/storage

# Backups
/backups
